@media (max-width: 768px){
	.menu-burger{
		display: block
	}
	.header-inner-nav,
	.header-inner-btn{
		display: none;
	}
	.number-inner-cards{
		grid-template-columns: auto;
	}
	.card-item{
		max-width: 100%;
	}
	.about-us-content{
		flex-wrap: wrap;
		justify-content: center;
	}
}
@media (max-width:  600px){
	.footer-inner-content{
		grid-template-columns: auto;
	}
	.footer-inner-content-nav{
    margin-top: 20px;
    display: flex; 
    gap:  30px;
	}
}
@media (max-width: 520px){
	.about-us-img img{
		max-width: 100%;
	}
	.main-title{
		font-size: 30px;
	}
}